<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="Bytemeuh, digital, technologie, solutions digitales, transformation digitale">

        <meta property="og:title" content="Bytemeuh - Solutions Digitales Innovantes">
        <meta property="og:description" content="Découvrez Bytemeuh, la référence en solutions digitales et technologies innovantes pour votre entreprise.">

        <meta property="og:image" content="https://sruuua.com/image-bytemeuh.jpg">
        <meta property="og:url" content="{{ app.request.uri }}">
        <meta property="og:type" content="website">

        <meta name="google-site-verification" content="{{ google_key }}" />

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
